.outline{
    -fx-padding: 10;
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: rgba(0,0,0,0);
    -fx-border-radius: 0;
    -fx-background-radius: 10;

}

.calendar{
    -fx-border-color: #807a7a;
}

.header {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-font-family: Tahoma;
    -fx-padding: 10;
    -fx-alignment: center;
}

.day-names {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-family: Tahoma;
}

.day-cell {
    -fx-padding: 5;
    -fx-alignment: top-left;
    -fx-border-color: #807a7a;
}

.event-label {
    -fx-background-color: yellow;
    -fx-padding: 2px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-wrap-text: true;
}

.prevbutton{
    -fx-border:none;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-background-color: rgba(0,0,0,0);
    -fx-text:black;
    -fx-font-family: Tahoma;
}

.nextbutton{
    -fx-border:none;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-background-color: rgba(0,0,0,0);
    -fx-text:black;
    -fx-font-family: Tahoma;
}
